{% extends "template.php.twig" %}

{% block content %}
    <div class="container">
        <!-- Navigation -->
        <div>
            {{ include('components/navbar.html.twig') }}
        </div>

        <!-- Content -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Last Edit Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                    <tr>
                        <th scope="row">{{ topic.Id }}</th>
                        <td>{{ topic.Title }}</td>
                        <td>{{ topic.CreationDate }}</td>
                        <td>{{ topic.LastEditDate }}</td>
                        <td>
                            <a href="topic/{{ topic.Id }}"><button class="btn btn-outline-success btn-sm">view</button></a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- A gap after the last table's record-->
            </tbody>
        </table>

        <!-- Footer -->
        <div class="footer navbar-fixed-bottom">
            <a href="topic/create"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="create">Create</button></a>
        </div>
    </div>
{% endblock %}
