{% extends "template.php.twig" %}

{% block content %}
    <section class="hero">
        <div class="container">
            <!-- Navigation -->
            <div>
                {{ include('components/navbar.html.twig') }}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cardbox shadow-lg bg-light p-3">
                        <div class="well p-5">
                            <div class="media-body">
                                <h3 class="media-heading">{{ topic.Title }}</h3>
                                <p class="text-muted">{{ topic.CreationDate }}</p>
                                <!-- Content -->
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th scope="col">Syntax Html:</th>
                                        <td> {{ topic.SyntaxHtml | raw }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Introduction Markown:</th>
                                        <td>  {{ topic.IntroductionMarkown }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Parameters Html:</th>
                                        <td>{{ topic.ParametersHtml | raw }}</td>

                                    </tr>
                                    <tr>
                                        <th scope="col">Remarks Html:</th>
                                        <td> {{ topic.RemarksHtml | raw }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Syntax Markdown:</th>
                                        <td> {{ topic.SyntaxMarkdown }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Parameters Markdown:</th>
                                        <td> {{ topic.ParametersMarkdown }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Remarks Markdown:</th>
                                        <td> {{ topic.RemarksMarkdown }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Hello World Versions Html:</th>
                                        <td> {{ topic.HelloWorldVersionnsHtml | raw }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Versions Java:</th>
                                        <td> {{ topic.VersionsJava }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Introduction Html:</th>
                                        <td> {{ topic.IntroductionHtml | raw }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Last Edit User Display Name:</th>
                                        <td> {{ topic.LastEditUserDisplayName }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div></div>
                                <div class="text-muted text-center mb-3">
                                    Last updated
                                    <div>{{ topic.LastEditDate }}</div>
                                </div>
                                <div class="d-flex flex-row">
                                    <button class="btn btn-dark" onclick="history.go(-1);"> &#8592; Back</button>
                                    <div class="ml-auto">
                                        <form action="{{ route('topic.delete', {'topic' : topic.Id}) }}" method="post" class="d-inline">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Delete
                                            </button>
                                        </form>
                                        <a href="{{ route('topic.edit', {'topic' : topic.Id}) }}">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit
                                            </button>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit">
                                                Examples
                                            </button>
                                        </a>
                                    </div>
                                        <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" data-toggle="modal" data-target=".bd-example-modal-lg" type="submit">
                                            Examples
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!--/ cardbox -->
                </div><!--/ col-lg-6 -->
            </div><!--/ row -->
        </div><!--/ container -->
    </section>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close text-right" data-dismiss="modal" >&times;</button>
                                <table class="table">
                                    <tbody>
                                    {% for example in examples %}

                                        <tr>
                                            <th>
                                                <h2>Example ID </h2>
                                                <td><h2>{{ example.Id }}</h2></td>
                                            </th>
                                        </tr>

                                    <tr>
                                        <th scope="col">Title:</th>
                                        <td>{{ example.Title }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="col">Body Html:</th>
                                        <td>{{ example.BodyHtml | raw }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="col">Body Markdown:</th>
                                        <td>{{ example.BodyMarkdown | raw }}</td>
                                    </tr>

                                    <tr><th><td></td></th></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
            </div>
        </div>
    </div>
{% endblock %}
