{% extends "template.php.twig" %}

{% block content %}
    <section class="hero">
        <div class="container">
            <!-- Navigation -->
            <div>
                {{ include('components/navbar.html.twig') }}
            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="cardbox shadow-lg bg-white">
                        <div class="well">
                            <div class="media-body">
                                {% for topic in topics %}
                                    <h3 class="media-heading">{{ topic.Title }}</h3>
                                    Creation Date:
                                    <td>{{ topic.CreationDate }}</td>
                                {% endfor %}
                                <!-- Content -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for topic in topics %}
                                        <tr>
                                            <th scope="col">Last Edit Date:</th>
                                            <td>{{ topic.LastEditDate }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Syntax Html:</th>
                                            <td> {{ topic.SyntaxHtml }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Introduction Markown:</th>
                                            <td>  {{ topic.IntroductionMarkown }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Parameters Html:</th>
                                            <td>{{ topic.ParametersHtml }}</td>

                                        </tr>
                                        <tr>
                                            <th scope="col">Remarks Html:</th>
                                            <td> {{ topic.RemarksHtml }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">SyntaxMar kdown:</th>
                                            <td> {{ topic.SyntaxMarkdown }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Parameters Markdown:</th>
                                            <td> {{ topic.ParametersMarkdown }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Remarks Markdown:</th>
                                            <td> {{ topic.RemarksMarkdown }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Hello World Versionns Html:</th>
                                            <td> {{ topic.HelloWorldVersionnsHtml }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Versions Java:</th>
                                            <td> {{ topic.VersionsJava }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Introduction Html:</th>
                                            <td> {{ topic.IntroductionHtml }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Last Edit User Display Name:</th>
                                            <td> {{ topic.LastEditUserDisplayName }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-info">Read</button>
                                <button type="button" class="btn btn-danger offset-1">Delette</button>
                                <button type="button" class="btn btn-success offset-8 text-right">Examples</button>
                            </div>
                        </div>
                    </div><!--/ cardbox -->
                </div><!--/ col-lg-6 -->
            </div><!--/ row -->
        </div><!--/ container -->
    </section>
{% endblock %}
